body {
  margin: 0;
}
.colorchooser {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 40px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}
input[type="color"]::-webkit-color-swatch:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.content {
  height: 100%;
  width: 100%;
  background: azure;
  display: flex;
  flex-direction: row;
}
.column1 {
  width: 70%;

  .avatarcreator {

    .bydefault {
      display: none;
    }
    .showbydefault {
      display: unset;
    }
    .show {
      display: unset !important;
    }
  }

  .numbersholder {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    -webkit-justify-content: space-between;
  }
  .number {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.1s;
    border: 1px solid white;
    height: 100%;
    width: 100%;

    &:hover {
      background: #6a83aa;
      cursor: pointer;
      font-size: 25px;
    }

    &:hover {
      cursor: pointer;
      background: #1c7244;
    }
  }
  .background1 {
    fill:#73caee;
  }
}
.column2 {
  width: 30%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  -webkit-justify-content: space-between;

  .menutext {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size 0.1s;
    border: 1px solid white;
    height: 100%;

    &:hover {
      background: #6a83aa;
      cursor: pointer;
      font-size: 25px;
    }
  }
  .save {
    background: #6aaa88;

    &:hover {
      background: #1c7244;
    }
  }

}
