body {
  margin: 0;
}
.colorchooser {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.content {
  height: 100%;
  width: 100%;
  background: azure;
  display: flex;
  flex-direction: row;
}
.column1 {
  width: 70%;

  .avatarcreator {

    .bydefault {
      display: none;
    }
    .showbydefault {
      display: unset;
    }
    .show {
      display: unset !important;
    }
  }

  .numbersholder {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
  }
  .number {
    width: 6.666666666666667%;
    height: 50px;
    background: #6aaa88;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      background: #1c7244;
    }
  }
  .BG {
    fill:#73caee;
  }
}
.column2 {
  width: 30%;
  background: azure;

  .menutext {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.142857142857143%;

    &:hover {
      background: #6a83aa;
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .save {
    background: #6aaa88;

    &:hover {
      background: #1c7244;
    }
  }

}
