* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  background: #EBEBEB;
}

.colorchooser {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

input[type=color] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 40px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}

input[type=color]::-webkit-color-swatch:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.top {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.top .header {
  font-size: 50px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column1 {
  height: 500px;
}
.column1 .slidecontainer {
  position: relative;
  display: none;
  left: -19px;
  width: 0;
  height: 0;
  transform: rotate(90deg);
}
.column1 .slidecontainer .slider {
  width: 500px;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.column1 .slidecontainer .slider:hover {
  opacity: 1;
}
.column1 .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #ffffff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}
.column1 .slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #ffffff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
}
.column1 #avatar {
  height: 500px;
}
.column1 .avatarcreator .bydefault {
  display: none;
}
.column1 .avatarcreator .showbydefault {
  display: unset;
}
.column1 .avatarcreator .show {
  display: unset !important;
}
.column1 .background1 {
  fill: #73caee;
}

.column2 {
  height: 500px;
  width: 200px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  -webkit-justify-content: space-between;
}
.column2 .menutext {
  background: #efefef;
  color: #343434;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.1s;
  border: none;
  height: 100%;
}
.column2 .menutext:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bottom .numbersholder {
  height: 50px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  -webkit-justify-content: space-between;
}
.bottom .number {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.1s;
  border: 1px solid black;
  width: 100%;
  animation: appear 0.6s ease-in-out;
}
.bottom .number:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.bottom .xout:hover {
  color: #e21408;
}
.bottom .colorpaletteholder {
  height: 269px;
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bottom .colorpaletteholder button {
  width: 30px;
  height: 75px;
  cursor: pointer;
  font-size: 50px;
  border: none;
  background: transparent;
  transition: 0.3s;
}
.bottom .colorpaletteholder button:hover {
  color: #6a83aa;
  transform: scale(1.2);
}
.bottom .colorpaletteholder .colorpalette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  animation: appear 0.3s ease-in forwards;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .paletteheader {
  width: 100%;
  text-align: center;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .paletteheader2 {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 90%;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser {
  cy: 24;
  r: 22;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(1) {
  cx: 24;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(2) {
  cx: 70;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(3) {
  cx: 116;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(4) {
  cx: 162;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(5) {
  cx: 206;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:hover {
  cursor: pointer;
  animation: popgradient 0.3s both ease;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .colorchooser {
  padding: 2px 2px;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .colordiv {
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  margin: 2px 2px;
  transition: 0.3s;
}
.bottom .colorpaletteholder .colorpalette .innercolorpalette .colordiv:hover {
  transform: scale(1.2);
}
.bottom .colorpaletteholder .colorpalette .palette2 {
  width: 310px;
}
.bottom .colorpaletteholder .colorpalette .palette4, .bottom .colorpaletteholder .colorpalette .palette5 {
  width: 530px !important;
}
.bottom .colorpaletteholder .colorpalette .palette6 {
  width: 265px;
}
.bottom .colorpaletteholder .colorpalette .palette7 {
  width: 530px;
}
.bottom .buttonholder {
  display: flex;
  flex-direction: row;
}
.bottom .buttonius {
  height: 50px;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.1s;
  border: 1px solid #aa7d7d;
}
.bottom .buttonius:hover {
  background: #e8e8e8;
  cursor: pointer;
  font-size: 25px;
}
.bottom .save {
  width: 200px;
}
.bottom .redo {
  width: 50px;
  font-size: 40px;
}
.bottom .redo:hover {
  font-size: 45px;
}

/*Common*/
.bolder {
  font-weight: bolder;
}

/*Keyframes*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popgradient {
  0% {
    r: 22;
  }
  100% {
    r: 24;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
