* {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  background: #EBEBEB;
}

.colorchooser {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

input[type=color] {
  -webkit-appearance: none;
  border: none;
  width: 40px;
  height: 40px;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  transition: 0.3s;
}

input[type=color]::-webkit-color-swatch:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.top {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.top .header {
  width: 701px;
  font-size: 50px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column1 {
  height: 500px;
  display: flex;
}
.column1 .slidecontainer {
  position: relative;
  display: none;
  top: 0;
  left: -100px;
  width: 0;
  height: 0;
  transform: rotate(90deg);
}
.column1 .slidecontainer .slider {
  width: 498px;
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  height: 5px;
  /* Specified height */
  background: #aaaaaa;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s;
  /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}
.column1 .slidecontainer .slider:hover {
  opacity: 1;
}
.column1 .slidecontainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #ffffff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  box-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
}
.column1 .slidecontainer .slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #ffffff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 50%;
  box-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
}
.column1 #avatar {
  height: 500px;
}
.column1 .avatarcreator .bydefault {
  display: none;
}
.column1 .avatarcreator .showbydefault {
  display: unset;
}
.column1 .avatarcreator .show {
  display: unset !important;
}
.column1 .background1 {
  fill: #73caee;
}
.column1 .colorpaletteholder {
  height: 498px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
.column1 .colorpaletteholder .paletteswitchbuttonholder {
  width: 200px;
  display: flex;
}
.column1 .colorpaletteholder .paletteswitchbuttonholder button {
  height: 50px;
  cursor: pointer;
  font-size: 38px;
  border: none;
  background: transparent;
}
.column1 .colorpaletteholder .paletteswitchbuttonholder button i {
  transition: 0.3s;
}
.column1 .colorpaletteholder .paletteswitchbuttonholder button:hover > i {
  transform: scale(1.2);
  color: #00BFFF;
}
.column1 .colorpaletteholder .colorpalette {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  animation: appear 0.3s ease-in forwards;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .paletteheader {
  width: 100%;
  text-align: center;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .paletteheader2 {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 90%;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser {
  cy: 24;
  r: 22;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(1) {
  cx: 24;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(2) {
  cx: 70;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(3) {
  cx: 116;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(4) {
  cx: 162;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:nth-child(5) {
  cx: 206;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .gradientchooser:hover {
  cursor: pointer;
  animation: popgradient 0.3s both ease;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .colorchooser {
  padding: 2px 2px;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .colordiv {
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  margin: 2px 2px;
  transition: 0.3s;
}
.column1 .colorpaletteholder .colorpalette .innercolorpalette .colordiv:hover {
  transform: scale(1.2);
}
.column1 .colorpaletteholder .colorpalette .palette2 {
  width: 310px;
}
.column1 .colorpaletteholder .colorpalette .palette4, .column1 .colorpaletteholder .colorpalette .palette5 {
  width: 530px !important;
}
.column1 .colorpaletteholder .colorpalette .palette6 {
  width: 265px;
}
.column1 .colorpaletteholder .colorpalette .palette7 {
  width: 530px;
}

.column2 {
  height: 50px;
  width: 701px;
  background: transparent;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}
.column2 .menutext {
  background: #efefef;
  color: #343434;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.1s;
  border: none;
  height: 100%;
  box-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
}
.column2 .menutext:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bottom .numbersholder {
  height: 50px;
  width: 701px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  -webkit-justify-content: space-between;
}
.bottom .number {
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s;
  border: none;
  width: 100%;
  animation: appear 0.6s ease-in-out;
  text-shadow: 1px -1px 2px #ffffff, -1px 1px 2px #a8a8a8;
  box-shadow: 1px 1px 2px #bebebe, -1px -1px 2px #ffffff;
}
.bottom .number:hover {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.bottom .xout:hover {
  color: #e21408;
}

/*Common*/
.bolder {
  font-weight: bolder;
  font-size: 25px !important;
  box-shadow: inset 1px 1px 2px #bebebe, inset -1px -1px 2px #ffffff !important;
  background: linear-gradient(145deg, #e2e2e2, #efefef) !important;
}

/*Keyframes*/
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes popgradient {
  0% {
    r: 22;
  }
  100% {
    r: 24;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
